<template>
    <div class="container">
        <div class="py-4"></div>
        <h3 class="content-title page-title">{{user.name}}'s Profile</h3>
        <div class="py-1"></div>
        <p>{{user.email}} || {{user.phone}}</p>
            <h4>My Courses</h4>
            <div class="row">
                <div class="col-sm-12 col-md-4" v-for="course in user.courses" :key="course.id">
                    <div class="card">
                        <table class="table table-bordered table-sm">
                            <tr>
                                <th colspan="2">{{course.course.name}}</th>
                            </tr>
                            <tr>
                                <th>Transaction ID</th>
                                <th>{{course.transaction.id}}</th>
                            </tr>
                            <tr v-if="course.transaction.coupon.status">
                                <th>Coupon Code </th>
                                <th>{{course.transaction.coupon.code}}</th>
                            </tr>
                            <tr>
                                <th>Product Amount </th>
                                <th>Rs.{{course.transaction.amount.price}}</th>
                            </tr>
                            <tr>
                                <th>GST @ {{course.transaction.tax.percentage}} %</th>
                                <th>Rs.{{course.transaction.tax.amount}}</th>
                             </tr>
                            <tr>
                                <th>Invoice Amount</th>
                                <th>Rs.{{course.transaction.amount.total}}</th>
                            </tr>
                            <tr v-if="course.transaction.coupon.status">
                                <th>Discount </th>
                                <th>Rs.{{course.transaction.coupon.discount}}</th>
                            </tr>
                            <tr>
                                <th>Last Video Played</th>
                                <th>{{course.course.name}}</th>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            user:{

            }
        }
    },
    created() {
        this.$store.dispatch("GetUser").
        then(res=>{
            this.user = res.data;
            for (let o = 0; o < this.user.courses.length; o++) {
                const element = this.user.courses[o];
                this.user.courses[o].transaction = JSON.parse(element.transaction)
            }
        })
    },
}
</script>

<style>

</style>
