<template>
    <div>
    <div v-if="!isLoading" class="text-left">
        <div class="row justify-content-center">
            <div class="col-sm-12 col-md-9">
                <a href="#" class="btn btn-theme btn-sm float-right" @click.prevent="model = true">Create Coupons</a>
                <h5 class="text-theme">Coupons</h5>
            </div>
            <div class="col-sm-12 py-4"></div>
            <div class="col-sm-12 col-md-9">
    <div class="py-4"></div>

                <table class="table table-sm">
                    <thead class="table-dark">
                        <tr>
                            <th>Coupon</th>
                            <th>Discount Type</th>
                            <th>Discount Value</th>
                            <th>Used By</th>
                            <th>Created At</th>
                        </tr>
                    </thead>
                    <tbody class="table-bordered">
                        <tr v-for="coupon in coupons" :key="coupon.id">
                            <th>{{coupon.coupon}}</th>
                            <th v-text="coupon.discount.type"></th>
                            <th>{{coupon.discount.value}} <span v-if="coupon.discount.type == 'percentage'">%</span> <span v-else>Rs</span> </th>
                            <td v-if="coupon.usedby">{{coupon.usedby}}</td>
                            <td v-else>Not Used</td>
                            <td>{{coupon.created_at|moment("dddd, MMMM Do YYYY")}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <preloader v-else></preloader>
        <div v-if="model">
            <transition name="modal" role="dialog"  tabindex="-1">
            <div class="modal-mask">
                <div class="modal-wrapper">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header bg-dark text-white py-1 border-0">
                            <p class="modal-title">Create Coupon</p>
                        </div>
                        <div class="modal-body"  style="overflow-y:auto">
                            <div class="row">
                                <div class="form-group col-sm-12">
                                    <label for="coupon_generate.number">No of Coupons</label>
                                    <input :disabled="isLoading" type="number" class="form-control" name="coupon_generate.number" id="coupon_generate.number" min="1" v-model="coupon_generate.number">
                                </div>
                                <div class="form-group col-sm-12 col-md-6">
                                    <label for="coupon_generate.type">Type of Discount</label>
                                    <select :disabled="isLoading" name="coupon_generate.type" class="form-control" id="coupon_generate.type" v-model="coupon_generate.type">
                                        <option value="percentage">Percentage</option>
                                        <option value="amount">Amount</option>
                                    </select>
                                </div>
                                <div class="form-group col-sm-12 col-md-6">
                                    <label for="coupon_generate.value">Value of Discount</label>
                                    <input type="number" :disabled="isLoading" class="form-control" name="coupon_generate.value" id="coupon_generate.value" min="1" v-model="coupon_generate.value">
                                </div>
                            </div>
                            <div v-if="generated.length">
                                <strong>Coupons generated </strong>
                                <br>
                                <small><i>Please Copy the codes. On closing this popup, this will only be shown on the table.</i></small>
                            </div>
                            <code>
                                <span v-for="gen in generated" :key="gen.id">{{gen.coupon}},</span>
                            </code>
                        </div>
                        <div class="modal-footer border-0">
                            <button type="button" :disabled="isLoading" class="btn btn-theme btn-sm" @click="CreateCoupons">Continue</button>
                            <button type="button" :disabled="isLoading" class="btn btn-secondary btn-sm" @click="model = false">Cancel</button>
                        </div>
                        <progressive-loader v-if="isLoading"></progressive-loader>
                    </div>
                </div>
                </div>
            </div>
            </transition>
        </div>
    </div>
</template>

<script>
export default {
data() {
    return {
        isLoading:false,
        model:false,
        coupon_generate:{
            number:1,
            type:"percentage",
            value:1,
        },
        generated:{},
        coupons:{},
        coupon:{
            id:"",
            coupon:"",
            discount:{
                value:"",
                type:""
            },
            usedby:"",
            created_at:"",
        }
    }
},
created() {
    this.Coupons()
},
computed: {
    Discount(){
        for (let i = 0; i < this.coupons.length; i++) {
            const element = this.coupons[i];
            this.coupons[i].discount = JSON.parse(this.coupons[i].discount);
        }
    }
},
watch: {
    model(){
        this.generated = {};
        this.coupon_generate = {
            number:1,
            type:"percentage",
            value:1,
        };
    }
},
methods: {
      onSelect (items) {
        this.selected = items
      },
      getAlternateLabel (count) {
        let plural = ''

        if (count > 1) {
          plural = 's'
        }

        return `${count} user${plural} selected`
      },
        Coupons(){
            this.isLoading = true;
            this.$store.dispatch("Coupons").
            then(res=>{
                this.coupons = res.data;
                this.Discount
            }).
            catch(error=>{
                console.log(error.message)
            }).
            then(()=>{
                this.isLoading = false;
            })
        },
        CreateCoupons(){
            this.isLoading = true;
            this.$store.dispatch("CreateCoupons",this.coupon_generate)
            .then(res=>{
                this.generated  = res.data;
                this.Coupons();
            })
            .catch(error=>{
                console.log(error.message)
            })
            .then(res=>{

            })
        }
    },
}
</script>

<style>

</style>
