<template>
    <div class="" v-if="!isLoading">
        <h5 class="float-left">Users ({{users.length}})</h5>
        <div class="float-right py-2">
            <button class="btn btn-sm btn-theme" @click="Getusers">Refresh</button>
        </div>
        <table class="table table-bordered table-sm">
            <thead class="table-dark">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                </tr>
            </thead>
            <tbody v-if="users.length >= 1">
                <tr v-for="user in users" :key="user.id">
                    <td>{{user.id}}</td>
                    <td><router-link :to="{name:'ViewUser',params:{id:user.email}}">{{user.name}}</router-link></td>
                    <td>{{user.email}}</td>
                    <td>{{user.phone}}</td>
                </tr>
            </tbody>
            <tbody v-else>
                <tr class="text-center">
                    <th colspan="4">{{message}}</th>
                </tr>
            </tbody>
        </table>
    </div>
    <div v-else>
        <div class="text-center" >
            <div class="spinner-border text-secondary" role="status"></div>
            <h6 class="text-secondary py-2">Loading</h6>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            isLoading:false,
            users:{},
            message:"Loading...",        
        }
    },
    created(){
        this.Getusers();
    },
    methods: {
        Getusers(){
            this.users = {};
            this.isLoading = true;
            this.message = "Loading..";
            this.$store.dispatch("Adminusers").
            then(res => {
                let cout = res.data;
                this.users = cout;
                this.message = "No Active users found";
            })
            .catch(error=>{
                console.log(error.message)
            })
            .then(()=>{
                this.isLoading = false;
            })
        }
    },
}
</script>

<style>

</style>
