<template>
    <div>
        <h6>Add Course</h6>

        <div class="row">
            <div class="col-sm-12 col-md-9">
                <div class="form-group">
                    <label for="course.name">Course Name</label>
                    <input type="text" class="form-control" id="course.name" v-model="course.name">
                    <input type="hidden" class="form-control" v-model="course.slug">
                    <i> <span v-if="course.slug">URL Schema: </span> {{course.slug}}</i>
                </div>
                <div class="form-group">
                    <label for="course.description">Course Description</label>
                    <vue-editor id="course.description" v-model="course.description"></vue-editor>
                </div>
                <div class="form-group">
                    <label for="course.features">Course features</label>
                    <vue-editor id="course.features" v-model="course.features"></vue-editor>
                </div>
            </div>
            <div class="col-sm-12 col-md-3">
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <td>
                            <label for="course.price">Course Fees</label>
                            <div class="form-group input-group">
                                <span class="input-group-prepend">
                                    <span class="input-group-text">
                                        &#8377;
                                    </span>
                                </span>
                                <input type="text" class="form-control" id="course.price" v-model="course.price" :disabled="isloading">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="course.gst_percentage">GST</label>
                            <div class="form-group input-group">
                                <input type="text" class="form-control" id="course.gst_percentage" v-model="course.gst_percentage" :disabled="isloading">
                                <span class="input-group-prepend">
                                    <span class="input-group-text">
                                        %
                                    </span>
                                </span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="course.status">Status</label>
                            <div class="form-group input-group">
                            <select v-model="course.status" class="form-control" :disabled="isloading">
                                <option value="1" selected>Active</option>
                                <option value="0">Inactive</option>
                            </select>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button class="btn btn-success btn-sm" :disabled="isloading" @click="CreateCourse">Create</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            </div>
        </div>

    </div>
</template>

<script>
import { VueEditor } from 'vue2-editor'
export default {
   components: {
      VueEditor
   },
    data() {
        return {
            isloading:false,
            course:{
                name:"",
                slug:"",
                description:"",
                features:"",
                status:1,
                gst_percentage:"",
            }
        }
    },
    watch: {
        "course.name"(data){
            this.course.slug = data.trim().toLowerCase().split(' ').join('_');
        }
    },
    methods: {
        CreateCourse(){
            this.isloading = true;
            this.$store.dispatch("CourseCreate",{token:this.$store.state.token,course:this.course}).
                then(res => {
                    this.course = res.data;
                    new Noty({type: 'success',text: "Updated"}).show();
                    this.$router.push({name:"AdminCourseView",params:{"course":this.course.slug}});

                })
                .catch(error=>{
                    console.log(error.message)
                })
                .then(()=>{
                    this.isloading = false;
                })
        }
    },
}
</script>

<style>

</style>
