<template>
    <div>
        <div id="login-page">
            <div class="container">
                <div class="py-4"></div>
                <div class="py-4"></div>
                <div class="py-4"></div>
                <div class="row justify-content-center">
                    <div class="col-sm-12 col-md-4 card login-card">
                        <div class="row">
                            <div class="col-sm-12 col-md-12">
                                <div class="py-2"></div>
                                <h3 class="title animated fadeInUp">Login.</h3>
                                <form action="" class="animated fadeInLeft">
                                    <div class="form-group">
                                        <label for="email">Username</label>
                                        <input type="text" name="email" id="email" class="form-control" autocomplete="off">
                                    </div>
                                    <div class="form-group">
                                        <label for="password">Password</label>
                                        <input type="password" name="password" id="password" class="form-control" autocomplete="off">
                                    </div>
                                    <div class="form-group">
                                        <button class="btn btn-success align-self-end" type="submit">Login</button>
                                        <router-link class="float-right" :to="{name:'Home'}">Back to Home</router-link>
                                    </div>
                                    <div class="form-group">
                                        <router-link class="" :to="{name:'Home'}">Forgot Password</router-link>
                                        <router-link class="float-right" :to="{name:'Home'}">New here? Get started!</router-link>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        mounted() {
            this.$store.state.page.nav = false;
        }
    }
</script>
