<template>
    <div v-if="access.status">
        <div class="container-fluid">
            <div class="py-2"></div>
            <div class="row mb-3">
                <div class="col-sm-12 col-md-6 col-lg-8  mb-3">
                    <video-player></video-player>
                <div class="py-2"></div>
                <div class="col-sm-12 mb-3" v-if="isPageLoading">
                    <h1 class="py-3 w-25 preloading"></h1>
                    <p class="py-1 w-10 preloading"></p>
                    <p class="py-1 w-50 preloading"></p>
                    <p class="py-1 w-50 preloading"></p>
                    <p class="py-1 w-50 preloading"></p>
                    <p class="py-1 w-50 preloading"></p>
                    <p class="py-1 w-50 preloading"></p>
                </div>
                <div class="col-sm-12 mb-3" v-else>
                    <h1 class="display-6 text-uppercase">{{this.$store.state.video.name}}</h1>
                    <p class="py-1 text-black-50 text-justify">{{this.$store.state.video.description}}</p>
                </div>
                </div>
                <div class="col-sm-12 col-md-3 col-lg-4 attached-content bg-dark py-2">
                    <video-preloader v-if="isPageLoading" :items="10"></video-preloader>
                    <video-thumbnail v-else v-for="video in course.videos" :key="video.id" :video="video"></video-thumbnail>
                </div>
            </div>
        </div>
    </div>
    <div v-else>
        <div class="container-fluid">
            <div class="py-4"></div>
            <div class="py-4"></div>
            <div class="py-4"></div>
            <div class="py-4"></div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="text-center text-secondary">
                        <h4>{{access.message}}</h4>
                        <div class="spinner-border text-secondary" v-if="access.isloading" role="status"><span class="sr-only">Loading...</span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            access:{
                status:false,
                isloading:true,
                message:"Loading..",
            },
            isPageLoading:false,
            course:{
                videos:"",
            },
        }
    },
    created(){
        this.GetCourse()
    },
    methods: {
        PlayInitialVideo(){
            let videos      = this.course.videos;
            let sources     = "";
            for (let index = 0; index < videos.length; index++) {
                const element = videos[index];
                if(element.resource){
                    if(element.resource.access == "true"){
                        if(element.resource.activity_completed == 0){
                            this.$store.state.video = element;
                        }
                    }
                }
            }
        },
        GetCourse(){
            this.isPageLoading = true;
            this.$store.dispatch("CourseAccess",{token:this.$store.state.token,course:this.$route.params.id}).
            then(res=>{
                this.access.status = true;
                this.course = res.data;
            }).
            then(res=>{
                this.PlayInitialVideo()
            }).
            catch(error=>{
                console.log(error)
                this.access.status = false;
                this.access.isloading = false;
                if(error.response.status == 402){
                    this.access.message = "You have not Purchased this course. "
                }
                else if(error.response.status == 412){
                    this.access.message = "Your Course Access has expired.";
                }
                else{
                    this.access.message = error.message;
                }
            }).
            then(res=>{
                this.isPageLoading = false;
            })
        }        
    },
}
</script>

<style>

</style>
