<template>
    <div class="container">
        <div class="py-4 text-center ">
            <h3 class="text-uppercase text-theme">Welcome {{this.$store.state.user.name}}</h3>
            <div v-if="isPageLoading" class="spinner-grow text-success" role="status"><span class="sr-only">Loading...</span></div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-3">
                <div class="card statics-card">
                    <div class="card-body text-center">
                      <h1 class="text-theme">{{GetUserCoursesCount}}</h1>
                      <p>Registered Courses</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="py-4"></div>
            <!-- Loading State -->
            <course-view-loader :items="3" v-if="isPageLoading"></course-view-loader>
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-4" v-if="courses.length == 0">
                <h5 class="text-black-50">{{message}}</h5>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-4 mb-1" v-for="course in courses" :key="course.id">
                <div class="card">
                    <div class="card-body">
                        <h5><a class="card-title" @click="courseviewer = course" data-toggle="modal" data-target="#course-view"
                                href="#course-view">{{course.name}}</a></h5>
                        <p class="text-black-50" v-text="course.description.substring(0,200)+'...'"></p>
                    </div>
                    <div class="btn-group">
                        <router-link v-if="!course.user" :to="{name:'Order Summary',params:{id:course.slug}}" class="btn btn-sm btn-success">Purchase</router-link>
                        <router-link :to="{name:'Access Course',params:{id:course.slug}}" v-else class="btn btn-sm btn-primary">Access Content</router-link>
                    </div>
                </div>
            </div>
        </div>
        <transition name="fade">
            <div class="modal" id="course-view">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title text-uppercase text-theme">{{courseviewer.name}}</h4>
                        </div>
                        <div class="modal-body">
                            <span v-html="courseviewer.description"></span>
                            <div class="py-2"></div>
                            <span v-html="courseviewer.features"></span>

                            </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                            <router-link v-if="!courseviewer.user" :to="{name:'Order Summary',params:{id:courseviewer.slug}}" class="btn btn-success"  data-dismiss="modal">Purchase</router-link>
                            <router-link :to="{name:'Access Course',params:{id:courseviewer.slug}}" v-else class="btn btn-primary"  data-dismiss="modal">Access Content</router-link>
                        </div>
                    </div>
                </div>
            </div>
        </transition>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                isPageLoading: false,
                courses: [],
                courseviewer: {
                    name: "",
                    description: "",
                    features:"",
                },
                message: "No Courses Availble."
            }
        },
        created() {
            this.GetCourses();
        },
        computed: {
            GetUserCoursesCount(){
                let courses = this.courses;
                let user    = this.$store.state.user.id;
                let count   = 0;
                courses.forEach(element => {
                    if(element.user){
                        count++;
                    }
                });
                return count;
            }
        },
        methods: {
            GetCourses() {
                this.isPageLoading = true;
                this.message = "Loading..";
                this.$store.dispatch('Courses', {
                    token: this.$store.state.token
                }).then(res => {
                    this.courses = res.data;
                }).catch(error => {
                    new Noty({
                        type: 'error',
                        text: error.message
                    }).show();
                }).then(res => {
                    this.isPageLoading = false;
                    this.message = "No Courses Availble.";
                })
            }
        },
    }

</script>

<style>

</style>
