<template>
<div>   
    <div class="jumbotron home--page-tron">
        <div class="main-gutter d-none d-md-block">
            <div class="row no-gutters">
                <div class="col-sm-12 col-md-6 theme-color">
                    <div class="py-4"></div>
                    <div class="py-4"></div>
                    <div class="py-4"></div>
                    <div class="py-4"></div>
                    <div class="py-4"></div>
                    <div class="padded-item">
                    <h4 class="wow fadeInDown" data-wow-delay="1.5s" data-wow-duration="2s">Making New Progress</h4>
                    <h1 class="wow fadeInDown" data-wow-delay="0s" data-wow-duration="2s">Creating Lives</h1>
                    <hr class="raw-line wow fadeInRight" data-wow-delay="1.8s" data-wow-duration="2s"/>
                    <p class="wow fadeIn" data-wow-delay="2s" data-wow-duration="2s">Get started today. See results for your self.</p>
                    <div class="px-4">
                    </div>
                        <router-link class="btn btn-theme wow fadeInLeft" data-wow-delay="3s" data-wow-duration="2s" :to="{name:'Join'}">Get Started</router-link>
                        <a href="#" class="px-4 wow fadeIn" data-wow-delay="3s" data-wow-duration="2s">Need help?</a>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 video-player-item wow fadeIn" data-wow-delay="1.1s" data-wow-duration="2s">
                    <button class="play-button"></button>
                </div>
            </div>
        </div>
            <div class="row no-gutters d-sm-block d-md-none">
                <div class="col-sm-12">
                    <div class="video-player-item wow fadeIn" data-wow-delay="1.1s" data-wow-duration="2s">
                        <button class="play-button"></button>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 theme-color">
                    <div class="padded-item">
                    <h4 class="wow fadeInDown" data-wow-delay="1.5s" data-wow-duration="2s">Making New Progress</h4>
                    <h1 class="wow fadeInDown" data-wow-delay="0s" data-wow-duration="2s">Creating Lives</h1>
                    <hr class="raw-line wow fadeInRight" data-wow-delay="1.8s" data-wow-duration="2s"/>
                    <p class="wow fadeIn" data-wow-delay="2s" data-wow-duration="2s">Get started today. See results for your self.</p>
                    <div class="px-4">
                    </div>
                        <router-link class="btn btn-theme wow fadeInLeft" data-wow-delay="3s" data-wow-duration="2s" :to="{name:'Join'}">Get Started</router-link>
                        <a href="#" class="px-4 wow fadeIn" data-wow-delay="3s" data-wow-duration="2s">Need help?</a>
                    </div>
                </div>
            </div>
    </div>
    <section class="container">
        <div class="row">
            <div class="col-sm-12 content">
                <h3 class="content-title">About</h3>
                <p class="text-black-50 text-justify" >Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
                <a href="#">More on us <i class="material-icons">arrow_forward</i></a>
            </div>
        </div>
    </section>
    <div class="py-4"></div>
    <section class="">
    <div class="">
        <div class="row">
            <div class="col-sm-12 col-md-6 content theme text-white">
                <div class="container p-4">
                    <h3 class="content-title text-white text-right">Testimonials</h3>
                    <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 backgrounder" style="background-image:url('https://www.afrohustler.com/wp-content/uploads/2017/03/o-BUSINESS-TEAM-facebook.jpg')">
            </div>
        </div>
    </div>
    </section>
</div>
</template>

<script>
import Swiper from 'vue-swiper'

    export default {
    components: {Swiper},
    methods: {
        onSlideChangeStart (currentPage) {
            console.log('onSlideChangeStart', currentPage);
        },
        onSlideChangeEnd (currentPage) {
            console.log('onSlideChangeEnd', currentPage);
        }
    },
    mounted() {
            this.$store.state.page.home = true;
        }
    }
</script>
