<template>
    <div class="loginpage">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12 col-md-8 f-screen text-center theme text-white d-none d-lg-block">
                    <div class="content">
                        <h1 class="display-5 text-thin wow fadeInRight">A Large Text for Information.</h1>
                        <p class="wow fadeInUp" data-wow-delay="1.2s">A small Text for Information and other things. We can decide on that later.</p>
                        <router-link class="btn btn-outline-light wow fadeIn"  data-wow-delay="1.8s" :to="{name:'Join'}">Signup</router-link>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4 f-screen">
                    <div class="py-2">
                        <router-link :disabled="this.$store.state.isSubmitting" class="text-theme" :to="{name:'Home'}"> <i class="material-icons">arrow_left</i> Back to home</router-link>
                        <router-link :disabled="this.$store.state.isSubmitting" class="text-theme float-right" :to="{name:'Join'}"> Get Started <i class="material-icons">arrow_right</i></router-link>
                    </div>
                    <div class="container">
                        <div class="p-4"></div>
                        <div class="p-4"></div>
                        <div class="py-4">
                            <h1 class="title wow fadeInLeft text-theme">Login</h1>
                            <form action="" class="wow fadeIn" data-wow-delay="0.8s" @submit.prevent="LoginAction">
                                <div class="form-group">
                                    <label class="" for="username">Email</label>
                                    <input :disabled="this.$store.state.isSubmitting" type="email" name="username" id="username" v-model="username" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label class="" for="password">Password</label>
                                    <input :disabled="this.$store.state.isSubmitting" type="password" name="password" id="password" v-model="password" class="form-control">
                                </div>
                                <div class="form-group">
                                    <br/>
                                <button :disabled="this.$store.state.isSubmitting" type="submit" class="btn btn-theme btn-block">Login</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                username:"",
                password:"",
                isLoading:this.$store.state.isSubmitting,
            }
        },
        mounted() {
            this.$store.state.page.nav = false;
        },
        methods: {
            LoginAction(){
                this.$store.state.isSubmitting = true;
                this.$store.dispatch('Login',{
                    username:this.username,
                    password:this.password,
                }).then((res)=>{
                    new Noty({text: "Welcome Back"}).show();
                    this.$router.push("/dashboard");
                }).catch((error)=>{
                    if(error.response.data.message){
                        error.response.data.errors.forEach(element => {
                            new Noty({type: 'error',text: element}).show();
                        });
                    }
                    else{
                        new Noty({type: 'error',text: error.response.data}).show();
                    }
                }).then(()=>{
                    this.$store.state.isSubmitting = false;
                })
            }
        },
    }
</script>
