<template>
    <div>
        <div class="py-4"></div>
        <div class="py-4"></div>
        <div class="text-center">
            <div class="spinner-grow" style="width: 3rem; height: 3rem;" role="status"><span class="sr-only">Loading...</span></div>
            <h5>Logging you out</h5>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            
        }
    },
    created() {
        this.Logout();
    },
    methods: {
        Logout(){
            this.$store.dispatch('LogOut',{token:this.$store.state.token}).then(res=>{
                this.$router.push("/login");
            })
        }
    },
}
</script>

<style>

</style>
