<template>
    <div class="container">
        <div class="py-4"></div>
        <div class="py-4"></div>
            <h1 class="display-7 text-theme">Checkout</h1>
        <div class="text-center">
            <div class="spinner-grow" v-if="isPageLoading" style="width: 3rem; height: 3rem;" role="status"><span class="sr-only">Loading...</span></div>
        </div>
            <div class="row justify-content-center">
                <div class="col-sm-12 col-md-6 col-lg-8 text-left">
                    <h6 class="block-title text-black-50 display-6">Order Summary</h6>
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <th class="w-50">Course</th>
                                <td class="text-right">
                                    {{course.name}}<br>
                                    <small></small>
                                </td>
                            </tr>
                            <tr>
                                <th>Pricing</th>
                                <td class="text-right">INR {{DispPrice}}</td>
                            </tr>
                            <tr>
                                <th>GST @{{course.gst_percentage}}%</th>
                                <td class="text-right">INR {{DispTax}}</td>
                            </tr>
                            <tr v-if="coupon.status">
                                <th>Promotion </th>
                                <td class="text-right">INR <strong>{{DiscountedTotal}}</strong></td>
                            </tr>
                            <tr>
                                <th>Total </th>
                                <td class="text-right">INR <h4 class="text-theme">{{DispTotal}}</h4></td>
                            </tr>
                            <tr>
                                <th>Coupon Code </th>
                                <td class="text-right">
                                    <div class="container" v-if="coupon.status">
                                        <strong></strong>
                                        <span class="badge badge-success py-2">{{coupon.code}} <a href="#!" @click.prevent="RemoveCoupon">X</a> </span>
                                    </div>
                                    <form @submit.prevent="ApplyCoupon" class="form" method="post" v-if="!coupon.status">
                                        <div class="form-group input-group mb-3">
                                            <input type="text" autocomplete="off" :disabled="isPageLoading" :class="{'is-invalid':coupon.error.status,'is-valid':coupon.status,preloading:isPageLoading}" required name="coupon" v-model="coupon.code" id="coupon" class="form-control">
                                            <div class="input-group-append">
                                                <button type="submit" :class="{preloading:isPageLoading}" :disabled="isPageLoading" class="btn btn-outline-success">Apply</button>
                                            </div>
                                        </div>
                                        <small class="text-danger" v-if="coupon.error.status">{{coupon.error.message}}</small>
                                    </form>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <div class="card">
                    <div class="card-body" :class="{preloading:isPageLoading}">
                        <h3 class="block-title" >Features Available to You.</h3>
                        <p class="text-left" :class="{preloading:isPageLoading}" v-html="course.features"></p>
                    </div>
                    </div>
                </div>
                <div class="col-sm-12 text-left py-4">
                    <h3 class="block-title" >Before Proceeding, Please read this..</h3>
                    <p>This Course will only be available to you until you finish the last media file on the course. You can access this course until 30 days, after you have completed the last video on the course.</p>
                    <div class="py-4">
                        <p class="text-black-50 text-uppercase">By clicking Confirm Payment, I agree to the <a href="#">terms and conditions</a> , <a href="#">privacy policy</a> and <a href="#">refund policy</a> by HireByCanada</p>
                    </div>
                    <button class="btn btn-theme" :class="{preloading:isPageLoading}" :disabled="isPageLoading" @click="CreatePayment" v-if="this.CalcTotal !==0">Confirm Payment</button>
                    <button class="btn btn-theme" :class="{preloading:isPageLoading}" :disabled="isPageLoading" @click="CompleteTransaction" v-if="this.CalcTotal ==0">Complete Transaction</button>
                </div>
            </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            isPageLoading:false,
            isPaid:false,
            order:{},
            coupon:{
                code:"",
                status:false,
                discount:{},
                data:{},
                error:{
                    status:false,
                    message:"",
                },
            },
            course:{
                price:"",
            },
            transactionid:"",
        }
    },
    mounted() {
        this.CourseData();
    },
    computed: {
        CalcTax(){
            let total = parseInt(this.course.price) - this.CalcDisc;
            let gst = this.course.gst_percentage;
            return Math.round(( gst / 100 * total));
        },
        DispTax(){
            return this.CalcTax.toLocaleString();
        },
        CalcDisc(){
            let status      = this.coupon.status;
            let discount    = this.coupon.status ? this.coupon.data.discount.value:0;
            let type        = this.coupon.status ? this.coupon.data.discount.type:0;
            let price       = parseInt(this.course.price);
            if(status){
                if(type == "percentage"){
                    discount = price *  discount / 100;
                }
                this.coupon.discount = discount;
            }
            return discount;
        },
        CalcTotal(){
            let discount    = this.CalcDisc;
            let total       = parseInt(this.course.price)-discount;
            let tax         = this.CalcTax;
            return tax+parseInt(total);
        },
        DispTotal(){
            return this.CalcTotal.toLocaleString()
        },
        DispPrice(){
            let price = parseInt(this.course.price);
            return price.toLocaleString();
        },
        DiscountedTotal(){
            return "-"+this.coupon.discount.toLocaleString();
        },
    },
    methods: {
        CourseData(){
            this.isPageLoading = true;
            this.$store.dispatch('Course',{token:this.$store.state.token,course:this.$route.params.id}).
            then(res=>{
                this.course = res.data;
            }).
            catch(error=>{

            }).
            then(res=>{
                this.isPageLoading = false;
            })
        },
        CreatePayment(){
            var Self = this;
            // rzp_test_WhGYHyk32UGPxP:7FdN3Wurqbd0MlRkjQI17rFU@api.razorpay.com/v1/payments/pay_BnYE8huPbCKnro
            // Create Payment
            var  RazorPayOptions  = {
                key:"rzp_test_WhGYHyk32UGPxP",
                amount:Math.round(this.CalcTotal*100),
                name:"HireByCanada",
                description:"Payment towards "+this.course.name,
                image:this.$store.state.app.logo,
                handler(response){
                    Self.isPaid         = true;
                    Self.transactionid  = response.razorpay_payment_id;
                    Self.CompleteTransaction()
                },
                prefill:{
                    name:this.$store.state.user.name,
                    email:this.$store.state.user.email,
                    contact:this.$store.state.user.phone,
                },
                notes:{
                    address:"",
                },
                theme:{
                    color: "#008080"
                },
            }
            var PaymentController = new Razorpay(RazorPayOptions);
            PaymentController.open();
        },
        ApplyCoupon(){
            this.isPageLoading= true;
            this.$store.dispatch('Coupon',{token:this.$store.state.token,code:this.coupon.code}).
            then(res=>{
                this.coupon.discount        = 0;
                this.coupon.data            = {};
                this.coupon.error.status    = false;
                this.coupon.error.message   = "";

                if(res.data){
                    if(res.data.status == 0){
                        this.coupon.error.status    = true;
                        this.coupon.error.message   = "This Coupon code has been expired";
                    }
                    else if(res.data.status == 1){
                        this.coupon.status          = true;
                        this.coupon.data            = res.data;
                        this.coupon.data.discount   = JSON.parse(this.coupon.data.discount);
                    }
                }
                else{
                    this.coupon.error.status    = true;
                    this.coupon.error.message   = "Invalid Coupon Code";
                }
            }).
            catch(error=>{
                new Noty({type: 'error',text: error}).show();
            }).
            then(()=>{
                this.isPageLoading= false;
            })
        },
        RemoveCoupon(){
            this.coupon.status = false;
            this.coupon.code = "";
            this.coupon.discount        = 0;
            this.coupon.data = {};
        },
        CompleteTransaction(){
            let Validation = false;
            this.isPageLoading = true;

            // Validate Transaction
            if(this.isPaid){
                if(this.transactionid){
                    Validation = true;
                }
                else{
                    new Noty({type: 'error',text: "Invalid Transaction Detected. Please Contact Administration"}).show();
                }
            }
            else{
                if(this.CalcTotal == 0){
                    this.transactionid = "TRANSACTION_CODE_COUPON";
                    Validation = true;
                }
                else{
                    new Noty({type: 'error',text: "Invalid Transaction Detected. Please Contact Administration"}).show();
                }
            }

            if(Validation){
                let Transaction = {
                    course:this.course.id,
                    user:this.$store.state.user.id,
                    transaction:{
                        id:this.transactionid,
                        paid:this.isPaid,
                        coupon:{
                            status: this.coupon.status,
                            code:this.coupon.status ? this.coupon.code:false,
                            discount: this.CalcDisc
                        },
                        tax:{
                            percentage:this.course.gst_percentage,
                            amount:this.CalcTax,
                        },
                        amount:{
                            price:this.course.price,
                            total:this.CalcTotal,
                        },
                    },
                    status:1
                }
                this.$store.dispatch('SaveTransaction',{token:this.$store.state.token,data:Transaction}).
                then(res=>{
                    new Noty({type: 'success',text: "Transaction Complete. You can start accessing your resources"}).show();
                    this.$router.push("/dashboard");
                })
                .catch(error=>{
                    new Noty({type: 'error',text: error.message}).show();
                })
                .then(()=>{
                    this.isPageLoading = false;
                })
            }
            else{
                this.isPageLoading = false;
            }

        }
    },
}
</script>

<style>

</style>
