<template>
    <div id="signup-page">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12 col-md-8 f-screen text-center theme text-white d-none d-lg-block">
                    <div class="content">
                        <h1 class="display-5 text-thin wow fadeInRight">A Large Text for Information.</h1>
                        <p class="wow fadeInUp" data-wow-delay="1.2s">A small Text for Information and other things. We
                            can decide on that later.</p>
                        <router-link class="btn btn-outline-light wow fadeIn" data-wow-delay="1.8s" :to="{name:'Login'}">Login</router-link>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4 f-screen">
                    <div class="py-2">
                        <router-link :disabled="this.$store.state.isSubmitting" class="text-theme" :to="{name:'Home'}">
                            <i class="material-icons">arrow_left</i> Back to home</router-link>
                        <router-link :disabled="this.$store.state.isSubmitting" class="text-theme float-right" :to="{name:'Login'}"> Login <i class="material-icons">arrow_right</i></router-link>
                    </div>
                    <div class="p-4"></div>
                    <div class="p-2"></div>
                    <h1 class="title wow fadeInLeft text-theme">Join Now.</h1>
                    <div class="container">
                        <form action="" class="wow fadeIn" data-wow-delay="0.8s" @submit.prevent="SignUpAction">
                            <div class="form-group">
                                <label class="" for="name">Name</label>
                                <input :disabled="this.$store.state.isSubmitting" type="text" name="name" id="name"
                                    v-model="name" class="form-control">
                            </div>
                            <div class="form-group">
                                <label class="" for="username">Email</label>
                                <input :disabled="this.$store.state.isSubmitting" type="email" name="username" id="username"
                                    v-model="username" class="form-control">
                            </div>
                            <div class="form-group">
                                <label class="" for="phone">Mobile No</label>
                                <input :disabled="this.$store.state.isSubmitting" type="text" name="phone" id="phone"
                                    v-model="phone" class="form-control">
                            </div>
                            <div class="form-group">
                                <label class="" for="password">Password</label>
                                <input :disabled="this.$store.state.isSubmitting" type="password" name="password" id="password"
                                    v-model="password" class="form-control">
                            </div>
                            <div class="form-group">
                                <p class="text-black-50">By signing up, I agree to the terms and conditions by Hire By
                                    Canada</p>
                                <br />
                                <button :disabled="this.$store.state.isSubmitting" type="submit" class="btn btn-theme btn-block">SignUp</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            name:"",
            username:"",
            phone:"",
            password:"",
        }
    },
    mounted() {
        this.$store.state.page.nav = false;
    },
    methods: {
        SignUpAction(){
            this.$store.state.isSubmitting = true;
            this.$store.dispatch('SignUp',{
                name:this.name,
                username:this.username,
                phone:this.phone,
                password:this.password,
            }).then((res)=>{
                new Noty({type: 'success',text: "Please Check your Email for verification Link."}).show();
                this.$router.push("/verify-email");
            }).catch((error)=>{
                    if(error.response.data.errors){
                        var errors = error.response.data.errors;
                        _.forEach(errors, function(value, key) {
                            new Noty({type: 'error',text: value}).show();
                        });
                    }
                    else{
                        new Noty({type: 'error',text: error.response.data}).show();
                    }
            }).then(()=>{
                this.$store.state.isSubmitting = false;
            })
        }
    },
}
</script>

<style>

</style>
