<template>
    <div>
        <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-6 py-2">
                <h4 class="text-theme py-4" :class="{preloading:isPageLoading}">{{course.name}}</h4>
                
            </div>
            <div class="col-sm-12"></div>
            <div class="col-sm-12 col-md-3">
                <video-preloader :items="3"></video-preloader>
            </div>
            <div class="col-sm-12 col-md-9">
                <vue-plyr ref="plyr" >
                    <video :src="video">
                        <source :src="video" type="video/mp4" size="720">
                    </video>
                </vue-plyr>
            </div>
        </div>
        </div>
  <div v-if="model">
    <transition name="modal">
      <div class="modal-mask">
        <div class="modal-wrapper">

        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">A Sample Activity Module.</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" @click="showModal = false">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>We can put sample activity here. .</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" @click="model = false">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>

        </div>
      </div>
    </transition>
        <!-- <router-link :to="{name:'Login'}">Login</router-link> -->
    </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                course:{

                },
                isPageLoading:false,
                player: {},
                nowPlaying:0,
                model:false,
                video:"/videos/sample1.mp4",

            }
        },
        mounted() {
            this.GetCourse();
            this.player = this.$refs.plyr.player;
            this.player.on('ended', () => this.ModelPopUp())
        },
        methods: {
            PlayerChange(ie){
                var video = ["/videos/sample1.mp4","/videos/sample.mp4","/videos/sample2.mp4"];
                this.nowPlaying = ie;
                this.player.source = {
                    type: 'video',
                    title: 'Video 2',
                    sources: [{src: video[ie],type: 'video/mp4',size: 720,},],
                };
            },
            ModelPopUp(){
                this.model = true;
            },
            GetCourse(){
                this.isPageLoading = true;
                this.$store.dispatch('CourseAccess', {
                    token: this.$store.state.token,
                    course:this.$route.params.id,
                }).then(res => {
                    this.course = res.data.course;
                }).catch(error => {
                    this.error.status = true;
                    if(error.response.status == 401){
                        this.error.message = "You have not Purchased this course. "
                    }
                    else if(error.response.status == 412){
                        this.error.message = "Your Course Access has expired.";
                    }
                    else{
                        this.error.message = error.message;
                    }
                }).then(res => {
                    this.isPageLoading = false;
                })
            },
        },
    }
</script>
