<template>
    <div v-if="!isLoading" class="wow fadeIn row">
        <div class="col-sm-12 col-md-4">
            <h5>Profile</h5>
            <div class="form-group">
                <label for="user.name">Full Name</label>
                <input type="text" class="form-control" id="user.name" v-model="user.name">
                <small>{{user.email}}</small>
            </div>
            <div class="form-group">
                <label for="user.phone">Phone No</label>
                <input type="text" class="form-control" id="user.phone" v-model="user.phone">
            </div>
            <div class="form-group">
                <label for="user.password">New Password</label>
                <input type="text" class="form-control" id="user.password" v-model="user.password">
            </div>
            <div class="form-group">
                <button class="btn btn-outline-secondary" @click="UserUpdate">Update</button>
            </div>
        </div>
        <div class="col-sm-12"></div>
        <div class="col-sm-12 col-md-3">
            <h4>User's Courses</h4>
            <div class="list-group">
                <router-link :to="{name:'UserCourseView',params:{course:course.id}}" v-for="course in user.courses" :key="course.id" class="list-group-item">{{course.course.name}} <span class="float-right"><i class="material-icons">arrow_right</i></span> </router-link>
            </div>
        </div>
        <div class="col-sm-12 col-md-9">
            <router-view></router-view>
        </div>
    </div>
    <div v-else>
        <div class="text-center" >
            <div class="spinner-border text-secondary" role="status"></div>
            <h6 class="text-secondary py-2">Loading</h6>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            isLoading:false,
            user:{
                password:"",
            }
        }
    },
    mounted() {
        this.GetUser()
    },
    methods: {
        GetUser(){
            this.isLoading = true;
            this.$store.dispatch("AdminUser",{id:this.$route.params.id}).
            then(res=>{
                this.user = res.data;
                this.user.password = "";
                for (let o = 0; o < this.user.courses.length; o++) {
                    const element = this.user.courses[o];
                    this.user.courses[o].transaction = JSON.parse(element.transaction)
                }
            }).
            catch(error=>{
                new Noty({text: error.message}).show();          
            }).
            then(()=>{
                this.isLoading = false;
            })

        },
        UserUpdate(){
            this.isLoading = true;
            this.$store.dispatch("UpdateUser",{id:this.user.id,data:this.user}).
            then(res=>{
                new Noty({text: "Updated"}).show();          
            }).
            catch(error=>{
                new Noty({text: error.message}).show();               
            }).
            then(()=>{
                this.isLoading = false;
            })

        }
    },
}
</script>

<style>

</style>
