<template>
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-4 mb-1" v-for="n in items" :key="n">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title py-3 preloading"></h5>
                    <p class="py-2 preloading"></p>
                    <p class="py-2 preloading"></p>
                    <p class="py-2 preloading"></p>
                    <p class="py-2 preloading"></p>
                    <p class="py-2 preloading"></p>
                </div>
                <div class="btn-group">
                    <a class="btn btn-sm btn-default py-3 preloading" disabled></a>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props:{
            items:Number,
        }
    }
</script>

<style>

</style>
