<template>
    <div class="text-center text-theme">
        <div class="spinner-border" role="status"></div>
        <h6 class="py-2 loading-text">Loading</h6>
    </div>
</template>

<script>
export default {

}
</script>

<style>
.spinner-border{
    border-width:2px;
}
.loading-text{
    font-weight: 300;
}
</style>
