<template>
    <div class="progressive-loader">
        <div class="loader"></div>
    </div>
</template>

<script>
export default {

}
</script>

<style>
.progressive-loader{
    width: 100%;
    height: 3px;
    background-color: rgba(0, 0, 0, 0.2);
    position: relative;
    overflow: hidden;
}
.progressive-loader .loader{
    animation: 1s ProgressiveLoader linear infinite;
    background-color: #008080;
    height: 100%;
    width:25%;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 100%;
}
@keyframes ProgressiveLoader{
    0%{
        left:-25%;
    }
    50%{
        left:125%;
    }
    100%{
        left:-25%;
    }
}
</style>
