<template>
    <div>
        <div class="row no-gutter  mb-1" v-for="n in items" :key="n">
            <div class="col-sm-6 py-0">
                <div class="video-thumb preloading"></div>
            </div>
            <div class="col-sm-6">
                 <h6 class="py-2 preloading text-left"></h6>
                 <p class="py-1 preloading text-left"></p>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    props:{
        items:Number
    }
}
</script>

<style>

</style>
