
// Body
$body-bg: #ffffff;

// Typography
$font-family-sans-serif: "Poppins", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Theme 
$theme:#008080;
// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
main{
  min-height: 100vh;
  overflow-x: hidden;
}
.loadingdiv{
  position: relative;
}
.loadingdiv::after{
  content: "";
  width:100%;
  height:200px;
  background-color: rgba($color: #000000, $alpha: 0.5);
  position: absolute;
  left:0;
  top:0;
}
.nav-item .nav-link.active{
  background-color: transparent;
  color: $theme;
}
.inav .nav-item .nav-link.active{
  background-color: $theme;
  color: #ffffff;
  border-radius: 50px;
}
.modal-content{
  border:none !important;
  border-radius: 0 !important;
}
.modal-header,.modal-footer{
  border-radius: 0 !important;
}