
// Fonts
@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,700|Material+Icons');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Noty
@import "~noty/src/noty.scss";
@import "~noty/src/themes/nest.scss";

// NProgress
@import "~nprogress/nprogress.css";

// AnimateCss
@import "~animate.css/animate.min.css";

// Plyr
@import "~vue-plyr/dist/vue-plyr.css";
*{
  font-family: 'Poppins', sans-serif;
}
body{
  overflow-x: hidden;
}
.content-title{
  font-size: 3rem;
  font-weight: 100;;
  color: $theme;
  position: relative;
  overflow: hidden;
}
.content{
  position: relative;
}
.material-icons{
  vertical-align: middle;
}
.navbar-laravel {
  background-color: #fff;
  z-index: 9000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
*::selection{
  background-color: $theme;
  color: #ffffff;
}
#nprogress .bar{
  background-color: $theme;
}
#nprogress .peg {
  background-color: $theme;
}
.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}
.videothumb{
  height: 150px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width:100%;
  cursor: pointer;
  border-radius: 4px;
}
.videothumb.active{
  position: relative;
}
.videothumb.active:before{
  content:"Now Playing";
  color:rgba($color: #000000, $alpha: 0.8);
  text-align: center;
  padding:5px;
  display: flex;
  align-self: flex-end;
  width:100%;
  height:100%;
  position: absolute;
  background-color: rgba($color: #ffffff, $alpha: 0.5)
}
#login-page{
  min-height: 100vh;
  background: rgba($color: #ededde, $alpha: 0.2);  /* fallback for old browsers */
}

.login-card{
  position: relative;
  overflow: hidden;
  border: 0;
  border-radius: 5px;
  min-height: 50vh;
  background-color: #ffffff;
  // box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.login-image{
  background-image: url('https://s3-ap-southeast-1.amazonaws.com/images.humanresourcesonline.net/wp-content/uploads/2015/07/Jerene-July-people-learning-shutterstock-700x420.jpg');
  background-position: center;
  background-size: cover;
}
.login-image .content{
  position: relative;
  z-index: 10;
}
.login-image .content h5{
  color: rgba(255, 255, 255, 0.7);
  font-size: 20px;
}
.login-image::after{
  content:"";
  left: 0;
  top: 0;
  position: absolute;
  width:100%;
  height: 100%;
  background-color: rgba($color: #000000, $alpha: 0.5);
}
// Title
.title{
  font-weight: 100;
}
// Form
.form-control:focus,
.form-control:active:focus,
.form-control:active{
  outline: none;
  box-shadow: none;
}
.login-card .form-group .form-control{
  height: 40px;
  background-color: #efefef;
  border:0;
  border-radius: 3px;
}
.login-card .form-group label{
  color: rgba(0, 0, 0, 0.5);
  user-select: none;
  text-transform: uppercase;
  font-size: 13px;
}
// Button
.btn{
  border-radius: 0;
  font-weight: 400  ;
  text-transform: uppercase;
  letter-spacing: 2px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

// Theme Button
.btn-theme{
  background-color: $theme;
  color: #ffffff;
}
.btn-theme:hover,
.btn-theme:focus,
.btn-theme:active{
  opacity: 0.6;
  background-color: $theme;
  color: #ffffff;
}
// A 
a{
  color: $theme;
}
a:hover,
a:focus,
a:active
{
  opacity: 0.5;
  text-decoration: none;
  color: $theme;
}

// Theme styles 
.theme{
  background-color: $theme;
}
.text-theme{
  color: $theme;
}
.text-thin{
  font-weight: 100;
}
.display-5{
  font-size: 3rem;
}
// Login Page Styles
// Final Styles
.loginpage{
  min-height: 100vh;
  overflow: hidden;
}
.f-screen{
  overflow: hidden;
  min-height: 100vh;
  position: relative;
}
.f-screen .content{
  position: absolute;
  z-index: 10;
  margin:auto;
  width: 100%;
  height: 25vh;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.form-group .form-control{
  border:1px solid $theme;
  border-radius: 0;
}
.opacity-text,
.opacity-text:hover,
.opacity-text:focus,
.opacity-text:active
{
  color: rgba(255,255,255, 0.5);
}
.form-group label{
  user-select: none;
  text-transform: uppercase;
  font-size: 0.8em;
}
.loading-bar{
  position: fixed;
  z-index: 9;
  right: 10px;
  top:10px;
}
.app-spinner{
  text-align: center;
  vertical-align: middle;
  line-height: 30px;
  font-weight: 100;
  color: $theme;
  border-radius: 0;
  border-width:1px;
  border-color: $theme;
  animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
.notification-bar{
  width:100%;
  background-color: rgba($color: $theme, $alpha: 1);
  padding:5px 10px;
  font-size: 13px;
}
.dot-underline{
  text-decoration-style: dotted;
}
.card{
  border:none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
}
.block-title{
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1.2px;
}
.display-5{
  text-transform: uppercase;
  letter-spacing: 1.2px;
}
.display-6{
  font-size: 1.2em;
  text-transform: uppercase;
}
.display-7{
  font-size: 2em;
  font-weight: 100;
  text-transform: uppercase;
}
// Preloading
.preloading{
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: #f6f7f8;
  background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
  background-size: 800px 104px;
  position: relative;
}
@keyframes placeHolderShimmer{
  0%{
      background-position: -468px 0
  }
  100%{
      background-position: 468px 0
  }
}
// Modal 
.modal .modal-content{
  border: none;
  box-shadow: none;
  border-radius: 5px;
}
.modal .modal-header,.modal .modal-footer{
  border:none;
}
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
.navbar-brand img{
  width:30px;
}
.navbar-light .navbar-toggler{
  border:none;
}

// Video Thumbnail
.video-thumb{
  width:100%;
  height: 120px;
}
.video-thumbnail{
  width:100%;
  height: 100px;
  background-position: center;
  background-size: cover;

}
@media(max-width:767px){
  .video-thumbnail{
    height: 200px;
  }
}
.videoplayer-pre-loader{
  height:75vh;
  width: 100%;
  
}
.w-10{
  width: 10%;
}
.attached-content{
  height: 77vh;
  overflow: hidden;
  overflow-y: scroll;
}

// Plyr
.plyr--video .plyr__control.plyr__tab-focus, 
.plyr--video .plyr__control:hover, 
.plyr__control--overlaid,
.plyr--video .plyr__control[aria-expanded=true]{
  background-color: $theme;
}
.plyr--full-ui input[type=range]{
  color: $theme;
}
.plyr__control--overlaid{
  border-radius: 50px;
  padding: 30px;
}
.active{
  background-color: rgba($color: #000000, $alpha: 0.5);
}
.vide-thum{
  cursor: pointer;
}

// Jumbotron
.jumbotron.home--page-tron{
  margin-top: -100px;
  padding:0;
  width:100vw;
  border-radius: 0;
  height: 80vh;
  background-color: transparent;
  overflow: hidden;
  position: relative;
}
.jumbotron.home--page-tron h4{
  font-size: 1.2em;
  font-weight: 300;
  color: $theme;
}
.jumbotron.home--page-tron h1{
  font-size: 3.5em;
  font-weight: 700;
  color: $theme;
}
.jumbotron.home--page-tron .raw-line{
  position: relative;
  width:100%;
  height: 0.02rem;
  margin-top: 10px;
  background-color: $theme;
}
.video-player-item{
  background-color: $theme;
  min-height: 80vh;
  border-radius: 0 0 0 100px;
  background-image: url('/images/548eeb9c0fe43-course6.jpg');
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.video-player-item .play-button{
  border:none;
  position: absolute;
  top:0%;
  bottom:0%;
  right:0%;
  left:0%;
  margin:auto;
  height: 100px;
  width: 100px;
  background-color: transparent;
  background-image: url('/images/play-icon-18-256.png');
  background-position: center;
  background-size: 80%;
  background-repeat: no-repeat;
  border: 0.01rem solid #ffffff;
  border-radius: 50%;
}
.main-gutter{
  margin-top: -4rem;
}
.padded-item{
  padding:3rem 7rem;
  padding-right: 0;
}
.theme-color{
  color: $theme;
}
.HomePage{
  box-shadow: none;
  background-color: transparent;
}
.inscroler{
  background-color: #ffffff;

}
.backgrounder{
  background-position: center;
  background-size: cover;
}
@media(max-width:767px){
  .HomePage{
    background-color: #ffffff;
  }
  .video-player-item{
    min-height: 50vh;
    background-position: center;
    background-size: cover;
    border-radius: 0%;
  }
  .padded-item{
    padding:20px;
  }
}