<template>
    <div>
        <div class="row no-gutter justify-content-center mb-1 py-1 vide-thum" :class="{active:this.$store.state.video.id==video.id}" v-if="video.resource" @click="ChangeVideo(video)">
            <div class="col-sm-6 col-md-6 py-0">
                <div class="video-thumbnail" :style="{backgroundImage:'url(' + video.files.thumbnail + ')'}"></div>
            </div>
            <div class="col-sm-6 text-white">
                <div class="py-1"></div>
                 <h6 class="text-left">{{video.name}}</h6>
                 <small class="text-left">{{TruncateDesc(video.description)}}</small>
            </div>
        </div>
        <div class="row no-gutter justify-content-center mb-1 py-1 vide-thum" v-else data-toggle="tooltip" data-placement="top">
            <div class="col-sm-6 col-md-6 py-0">
                <div class="video-thumbnail" :style="{backgroundImage:'url(' + video.files.thumbnail + ')'}"></div>
            </div>
            <div class="col-sm-6 text-white">
                <div class="py-1"></div>
                <small>This Video is not yet available for you. Complete the previous video and finish the activity given.</small>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    props:{
        video:Object
    },
    data() {
        return {

        }
    },
    methods:{
        TruncateDesc(dame){
            return dame.substring(0,80)+'...';
        },
        ChangeVideo(video){
            this.$store.state.video = video;
        },
    }
}
</script>

<style>

</style>
