<template>
<div>
    <div v-if="!$store.state.page.home">
        <div v-if="this.$store.state.isSubmitting" class="loading-bar"><span class="spinner-border app-spinner" role="status" aria-hidden="true">H</span></div>
        <div v-if="this.$store.state.token" class="user-inforbar">
            <div class="notification-bar text-center text-white" v-if="!this.$store.state.user.email_verified_at">
                <span>Your Email id <u class="dot-underline">{{$store.state.user.email}}</u> is not yet verified. Please verify your email id to avoid restrictions </span>
            </div>
        </div>
    </div>
    <navigation v-if="this.$store.state.page.nav"></navigation>
    <router-view></router-view>
</div>
</template>

<script>
export default {
  methods: {
    handleScroll (event) {
        if(this.$store.state.page.home){
            if(document.body.scrollTop <= 10){
                this.$store.state.isscrller = true;
            }
            else{
                this.$store.state.isscrller = false;
            }
        }
    }
  },
  created () {
    window.addEventListener('ready', this.handleScroll);
    window.addEventListener('scroll', this.handleScroll);
  },
  destroyed () {
    window.removeEventListener('scroll', this.handleScroll);
  }
}
</script>
