<template>
    <footer class="theme text-white py-2 mt-2">
        <div class="container">
            <p>All Rights reserved.</p>
        </div>
    </footer>
</template>

<script>
export default {

}
</script>

<style>

</style>
