<template>
    <nav class="navbar navbar-expand-md navbar-light navbar-laravel" :class="{'HomePage':$store.state.page.home,'py-0':!$store.state.page.home}">
        <div class="container">
            <router-link class="navbar-brand" :to="{name:'Home'}">
                <img :src="this.$store.state.app.logo" :alt="this.$store.state.app.name+' Logo'">
            </router-link>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav" :class="{'mr-auto':$store.state.page.home,'ml-auto':!$store.state.page.home}">
                    <li class="nav-item"><router-link class="nav-link" :to="{name:'Home'}">Home</router-link></li>
                    <li class="nav-item"><router-link class="nav-link" :to="{name:'Home'}">About</router-link></li>
                    <li class="nav-item" v-if="!this.$store.state.token"><router-link class="nav-link" :to="{name:'Login'}">Login</router-link></li>
                    <li class="nav-item" v-if="!this.$store.state.token"><router-link class="nav-link" :to="{name:'Join'}">Join</router-link></li>
                    <li class="nav-item" v-if="this.$store.state.token"><router-link class="nav-link" :to="{name:'Dashboard'}">Dashboard</router-link></li>
                    <li class="nav-item" v-if="this.$store.state.token"><router-link class="nav-link" :to="{name:'Account'}">{{this.$store.state.user.name}}</router-link></li>
                    <li class="nav-item" v-if="this.$store.state.token"><router-link class="nav-link" :to="{name:'LogOut'}">Logout</router-link></li>
                </ul>
            </div>
        </div>
    </nav>
</template>

<script>
export default {
    data() {
        return {
            
        }
    },
    created() {
        
    },
}
</script>

<style>

</style>
